################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DebugAddin/bin
/.vs
/DebugAddin/obj
/packages
/DebugAddin.sln.debugaddin.cmdargs
/LibInf/Release
/Release
/LibInf/x64/Release
/x64/Release
/LibInf/Debug
/Debug
/LibInf/x64/Debug
/x64/Debug
